
//- assets
- let social = ['facebook', 'twitter', 'google']

//- component
mixin sing-form(inputs)
  .sing-form(data-class="flex-column")
    +base-header-level-2('')(class="sing-form--header")
    +base-paragraph('Discover interesting features from us')(class="sing-form--paragraph")
    .sing-form--socials(data-class="flex-between")
      each icon in social
        +base-social-icon(icon)
    +base-input(inputs.email)(class="sing-form--input")
    +base-input(inputs.password)(class="sing-form--input")
    +base-button-large('')(class="sing-form--button")
    +base-link('/')(class="sing-form--link")
      
