
.slider {
  height: 350px;
  position: relative;

  @media screen and (min-width: 1800px) {
    height: 240px;
  }

  &--slides, &--indexes, &--buttons {
    display: flex;
    position: absolute;
  }
  &--slides {
    @media screen and (min-width: 1800px) {
      transform: translateX(-17%);
    }
    @media screen and (max-width: 500px) {
      display: block;
      width: 100%;
    }
  }
  &--indexes {
    left: 0;
    bottom: 22.5px;

    @media screen and (min-width: 1800px) {
      display: none;
    }
  }
  &--buttons {
    right: 0;
    bottom: 0;

    @media screen and (min-width: 1800px) {
      display: none;
    }
  }
}

/** slide component */
@import './slide/slide.scss';

/** slide-index component */
@import './slide-index/slide-index.scss';

/** slide-button component */
@import './slide-button/slide-button.scss';