
.slider {
  height: 350px;
  position: relative;

  &--slides, &--indexes, &--buttons {
    display: flex;
    position: absolute;
  }
  &--slides {
    @media screen and (max-width: 500px) {
      display: block;
      width: 100%;
    } 
  }
  &--indexes {
    left: 0;
    bottom: 22.5px;
  }
  &--buttons {
    right: 0;
    bottom: 0;
  }
}

/** slide component */
@import './slide/slide.scss';

/** slide-index component */
@import './slide-index/slide-index.scss';

/** slide-button component */
@import './slide-button/slide-button.scss';