
$design-map-width: 1060;
$design-map-height: 539;
$design-width: 1440;

.map-section {
  padding: {
    top: 75px;
    bottom: 30px;
  };

  &--header {
    width: 380px;

    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }
  &--paragraph {
    margin-bottom: 155px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 80px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &--map {
    $map-width: $design-map-width/$design-width * 100vw;
    $map-height: $design-map-height/$design-width * 100vw;

    background: {
      image: url('assets/images/world-map.png');
      size: cover;
    };
    margin: 0 auto;
    max-width: 1060px;
    max-height: 539px;
    -short-size: $map-width $map-height;
  }
}