
mixin map-section()
  +base-section-container('map-section')
    +base-header-level-2('Huge Global Network of Fast VPN')(class="map-section--header")
    +base-paragraph(
      'See LaslesVPN everywhere to make it easier for you when you move locations.'
      )(class="map-section--paragraph")
    .map-section--map
