
$plan-cost-color: $main-header-color;
$plan-cost-span-color: $main-text-color;

.plan {
  flex-direction: column;
  padding: 80px 0 50px;
  -short-size: 330px 760px;

  @media screen and (max-width: 1360px) {
    display: block;
    padding: 40px;
    -short-size: 600px auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &--description {
    align-items: center;

    @media screen and (max-width: 1360px) {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 60px;
    }
  }
  &--image {
    @media screen and (max-width: 580px) {
      display: none;
    }
  }
  &--image, &--header {
    margin-bottom: 30px;
  }
  &--cost {
    color: $plan-cost-color;
    font-size: 25px;
    margin-bottom: 20px;

    span {
      color: $plan-cost-span-color;
      font-family: 'rubik-reqular';
    }
  }
  &--header, &--cost {
    text-align: center;
  }
  &--button {
    border-width: 2px;
    width: 177px;

    @media screen and (max-width: 1360px) {
      margin: 0 auto;
    }
  }
}

/** plan-list-item component */
@import './plan-list-item/plan-list-item.scss';