
$input-text-color: $main-header-color;
$input-placeholder-color: rgba($main-header-color, 0.48);
$input-icon-color: $main-header-color;
$input-icon-success-color: #2FAB73;
$input-icon-error-color: $primary-color;

.base-input {
  -short-size: 250px 60px;

  &.is-active::after {
    display: none;
  }

  &--input {
    font-family: 'rubik-reqular', sans-serif;
    padding-left: 52px;
    -short-color: $input-text-color #fff;

    .base-input.is-active & {
      border-color: $primary-color;
    }
  }
  &--icon {
    left: 18px;

    path {
      fill: $input-icon-color;

      .base-input.is-success & {
        fill: $input-icon-success-color;
      }
      .base-input.is-error & {
        fill: $input-icon-error-color;
      }
    }
  }
  &--placeholder {
    color: $input-placeholder-color;
    left: 52px;
    transition: .4s;
  }
  &--error {
    color: $primary-color;
    font-size: 14px;
    left: 20px;
    bottom: -20px;
  }

  &--input, &--placeholder {
    font-size: 16px;
  }
  &--input, &--placeholder, &--icon, &--error {
    position: absolute;
  }

  &.is-active &--placeholder,
  &.is-success &--placeholder,
  &.is-error &--placeholder {
    left: 252px;
    opacity: 0;
  }
}