
.popup-bg {
  animation: popup-bg-show .6s forwards;
  background: $popup-bgcolor;
  position: absolute;
  transform: translate(-50%, -50%);
  -short-size: 10px;

  .popup.is-close & {
    animation: popup-bg-hide .4s .3s forwards;
    -short-size: 400vw;
  }
}

@keyframes popup-bg-show {
  to {
    -short-size: 400vw;
  }
}
@keyframes popup-bg-hide {
  to {
    -short-size: 0;
  }
}