
mixin base-social-icon(icon)
  - let socialIconPath = `/assets/icons/${icon}.svg`;
  .base-social-icon(data-class="circle click bs")
    img.base-social-icon--icon(src=socialIconPath, data-class="pc")
