
.sign-frame {
  display: none;
  -short-position: fixed 0 x x 0;

  &--illustration, &--frame {
    height: 100%;
    -short-position: absolute 0 x x x;
  }
  &--illustration {
    background-size: cover;
    left: 0;
    width: 60%;
  }
  &--frame {
    background: #fff;
    right: 0;
    width: 50%;
  }
  &--logo, &--copyright {
    position: absolute;
  }
  &--logo {
    top: 29px;
    left: 35px;
  }
  &--close-button {
    top: 35px;
    left: 35px;
  }
  &--copyright {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}