
mixin sign-frame()
  .sign-frame(data-class="full")
    .sign-frame--illustration
    .sign-frame--frame
      +base-logo()(class="sign-frame--logo")
      +base-close-button()(class="sign-frame--close-button")
      +base-copyright()(class="sign-frame--copyright")