
$base-link-color: $main-text-color;
$base-link-hover-color: $main-header-color;

.base-link {
  cursor: pointer;
  font-size: 16px;
  display: block;
  text-decoration: none;
  -short-color: $base-link-color x;

  &:hover {
    -short-color: $base-link-hover-color x;
  }
}