
mixin number-item(numberItem)
  .number-item
    .number-item--icon(data-class="circle flex-center")
      - let icon = `assets/icons/${numberItem.icon}.svg`;
      img.number-item--icon-item(src=icon)
    .number-item--text(data-class="flex-column")
      .number-item--number(data-class="font-bold")= numberItem.number
      .number-item--description= numberItem.description
