
.features-section {
  padding: {
    top: 150px;
    bottom: 130px
  };

  @media screen and (max-width: 580px) {
    padding-bottom: 80px;
  }

  &--container {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media screen and (max-width: 1023px) {
      justify-content: flex-start;
    }
  }
  &--illustration {
    background-size: cover;
    z-index: -1;
    -short-size: 500px 414px;
    -short-position: absolute x x 0 34px;
  
    @media screen and (max-width: 1270px) {
      left: 0;
    }
    @media screen and (max-width: 1200px) {
      transform: translateX(-10%);
    }
    @media screen and (max-width: 1150px) {
      transform: translateX(-20%);
    }
    @media screen and (max-width: 1023px) {
      left: 45%;
      transform: none;
    }
    @media screen and (min-width: 581px) {
      background-image: url('/assets/images/feature-man.png');
    }
    @media screen and (max-width: 580px) {
      display: none;
    }

    &::after {
      @media screen and (max-width: 768px) {
        -short-size: 100%;
      }
    }
  }
  &--content {
    @media screen and (max-width: 1024px) {
      width: 45%;
    }
    @media screen and (max-width: 768px) {
      width: 65%;
    }
    @media screen and (max-width: 767px) {
      width: 75%;
    }
    @media screen and (max-width: 580px) {
      width: 100%;
      padding: 0 24px;
    }
  }
  &--header {
    margin-bottom: 20px;
    width: 380px;
  }
  &--paragraph {
    margin-bottom: 20px;
    width: 427px;
  }

  &--header, &--paragraph {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}

/** features-list component */
@import './feature-list/feature-list.scss';