
$slide-button-border-color: $primary-color;

.slide-button {
  background: #fff;
  border: 2px solid $slide-button-border-color;
  transition: .4s;
  -short-size: 60px;

  @media screen and (max-width: 500px) {
    -short-size: 48px;
  }

  path {
    fill: $primary-color;
  }

  &:hover {
    background: $primary-color;

    path {
      fill: #fff;
    }
  }
  &:last-child {
    transform: rotate(180deg);
  }
  &:not(:first-child) {
    margin-left: 20px;
  }
}