
mixin subscribe(inputs)
  .subscribe
    +base-header-level-2('Subscribe us')(class="subscribe--header")
    +base-paragraph('Let\'s subscribe with us and find the fun.')(class="subscribe--paragraph")
    +base-input(inputs.email)(class="subscribe--input")
    +base-button-large('Subscribe Now', 'subscribe')(class="subscribe--button")
