
$popup-bgcolor: rgba($main-header-color, 0.5);

.popup {
  display: none;
  z-index: 999;
  -short-position: fixed 0 x x 0;
  -short-size: 100vw 100vh;

  &.is-open, &.is-close {
    display: block;
  }

  &--container {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    z-index: 1;

    .popup.is-open & {
      animation: show-container .4s forwards;
    }
    .popup.is-close & {
      animation: hide-container .2s forwards;
    }
  }
  &--subscribe-modal {
    -short-size: 480px 400px;

    &::before {
      background: url('assets/images/subscribe-man.png') left bottom no-repeat;
      z-index: -1;
      -short-size: 100%;
      @include psevdo-element;
    }

    @media screen and (max-width: 540px) {
      padding: 10px;
      width: 340px;
    }
    @media screen and (max-width: 360px) {
      width: 300px;
    }
  }
  &--close-button {
    -short-position: absolute 20px 20px x x;
  }
  &--bg {
    background: $popup-bgcolor;
    position: absolute;
  }
}

@keyframes show-container {
  from {
    top: 40%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@keyframes hide-container {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 40%;
    opacity: 0;
  }
}