
/** variabels */

// colors
$primary-color: #F53838;
$main-header-color: #0B132A;
$main-text-color: #4F5665;
$main-border-color: #DDD;

// sizes
$design-window-width: 1440;
$main-border-radius: 10px;

/** mixins */
@mixin psevdo-element {
  content: '';
  display: block;
  position: absolute;
}