
[data-class*="site-content-center"] {
  max-width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    margin: 0;
    max-width: none;

    $design-padding: 150;
    $padding: $design-padding/$design-window-width * 100%;

    padding: {
      left: $padding;
      right: $padding;
    }
  }
  @media screen and (max-width: 767px) {
    padding: {
      left: 7%;
      right: 7%;
    }
  }
}

// border
[data-class*="main-border"] {
  border: 2px solid $main-border-color;

  &.is-active {
    border-color: $primary-color;
  }
}

// border-radius
[data-class*="circle"] {
  border-radius: 50%;
}
[data-class*="main-radius"] {
  border-radius: $main-border-radius;
}

// box-sizing
[data-class*="box-sizing"] {
  box-sizing: border-box;
}

// font-family
[data-class*="font-medium"] {
  font-family: 'rubik-medium', sans-serif;
}
[data-class*="font-bold"] {
  font-family: 'rubik-bold', sans-serif;
}

// shadows
[data-class*="button-shadow"] {
  background: rgba($color: $primary-color, $alpha: .35);
  filter: blur(54px);
  opacity: 0;
  transition: .2s;
  z-index: -1;
}

// sizes
[data-class*="w100"] {
  -short-size: 100% x;
}
[data-class*="full"] {
  -short-size: 100%;
}

// flexible
[data-class*="flex-center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-class*="flex-between"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// padding

// position
[data-class*="pos-center"] {
  -short-position: absolute 50% x x 50%;
  transform: translate(-50%, -50%);
}
[data-class*="pos-top-center"] {
  -short-position: absolute 50% x x;
  transform: translateY(-50%);
}
[data-class*="pos-left-centert"] {
  -short-position: absolute x x x 50%;
  transform: translateX(-50%);
}

// psevdo elements
[data-class*="click"] {
  cursor: pointer;
  position: relative;

  &::after {
    border-radius: inherit;
    -short-size: 100%;
    @include psevdo-element;
  }
}