
// border-radius
[data-class*="main-border-radius"] {
  border-radius: $main-border-radius;
}

// shadows
[data-class*="button-shadow"] {
  background: rgba($color: $primary-color, $alpha: .35);
  filter: blur(54px);
  opacity: 0;
  transition: .2s;
  z-index: -1;
}

// flexible
[data-class*="flex-center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

// psevdo elements
[data-class*="click"] {
  cursor: pointer;
  position: relative;

  &::after {
    border-radius: inherit;
    -short-size: 100%;
    -short-position: absolute x;
    @include psevdo-element;
  }
}