@font-face {
  font-family: 'rubik-reqular';
  src: url('assets/fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'rubik-medium';
  src: url('assets/fonts/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'rubik-bold';
  src: url('assets/fonts/Rubik-Bold.ttf') format('truetype');
}