
/** fonts */
@import './fonts.scss';

/** assets */
@import './assets.scss';

/** reset */
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
h1, h2, h3 {
  font-weight: normal;
}

body {
  font-family: 'rubik-reqular', sans-serif;
  -short-size: 100vw x;
}
#site {
  overflow-x: hidden;
  position: relative;
}

/** classes */
@import './classes.scss';

/** components */
@import '@/components/components.scss';