
//- assets
-
  let planItems = [
    { image: 'free-plan', header: 'Free Plan', list: [
      'Unlimited Bandwitch',
      'Encrypted Connection',
      'No Traffic Logs',
      'Works on All Devices'
    ] },
    { image: 'standard-plan', header: 'Standard Plan', cost: '9', list: [
      'Unlimited Bandwitch',
      'Encrypted Connection',
      'Yes Traffic Logs',
      'Works on All Devices',
      'Connect Anyware'
    ] },
    { image: 'premium-plan', header: 'Premium Plan', cost: '12', list: [
      'Unlimited Bandwitch',
      'Encrypted Connection',
      'Yes Traffic Logs',
      'Works on All Devices',
      'Connect Anyware',
      'Get New Features'
    ] }
  ]

//- components
include ./plan/plan.pug

//- component
mixin plans-section()
  +base-section-container('plans-section', 'plans')
    +base-header-level-2('Choose Your Plan')(class="plans-section--header")
    +base-paragraph(
     'Let\'s choose the package that is best for you and explore it happily and cheerfully.'
     )(class="plans-section--paragraph")
    .plans-section--container(data-class="box-sizing flex-between")
      each item in planItems
        +plan(item)
        
      
