
$menu-button-item-bgcolor: $main-text-color;
$menu-button-item-bgcolor-hover: $main-header-color;

$design-padding: 130;
$design-menu-width: 834;

$singin-button-color: $main-header-color;

.menu {
  position: relative;
  z-index: 9999;

  &--button {
    display: none;
    right: 0;
    -short-size: x 36px;

    @media screen and (max-width: 1100px) {
      display: flex;
      flex-direction: column;
    }

    &-line {
      background: $menu-button-item-bgcolor;
      border-radius: 10px;
      width: 36px;
      height: 4px;
      transition-property: none;
      transform-origin: left center;
      transition: .4s;

      &:nth-child(1) {
        .menu.is-open & {
          transform: rotate(45deg);
        }
      }
      &:nth-child(2) {
        margin: 5px 0;

        .menu.is-open & {
          opacity: 0;
          margin: 8.5px 0;
        }
      }
      &:nth-child(3) {
        .menu.is-open & {
          transform: rotate(-45deg);
        }
      }
    }
    &:hover &-line {
      background: $menu-button-item-bgcolor-hover;
    }
  }
  &--container {
    background: #fff;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 1024px) {
      opacity: 0;
      -short-position: fixed 0 0 x x;
    }
  }
  &--nav {
    display: flex;
    //display: none;
  
    &-item {
      margin: 0 20px;
  
      @media screen and (max-width: 1200px) {
        margin: 0 15px
      }
    }
  }
  &--sing-buttons {
    display: flex;
    //display: none;
    //padding-left: $design-padding/$design-menu-width * 100%;
  }

  &--singin-button {
    color: $singin-button-color;
    font-size: 16px;
    margin-right: 20px;
    -short-size: 70px 45px;
  }
}