
//- assets
- let inputs = {email: {icon: 'user-input', type: 'email', placeholder: 'E-mail address'}}

//- components
include ../components/components.pug

//- document
doctype html
html(lang="en")
  head
    title LaslesVPN
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #site(data-class="w100")
      +header()
      +preview-section()
    +popup()
    #reusable-components
      +menu-bg()
      +popup-bg()
      +subscribe(inputs)