
// - components
include ../components/components.pug

// - document
doctype html
html(lang="en")
  head
    title LaslesVPN
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #site
      +base-social-icon('google')
      +base-social-icon('facebook')
      +base-social-icon('instagram')
      +base-social-icon('twitter')