
$burger-button-line-bgcolor: $main-header-color;

.burger-button {
  display: none;
  z-index: 1;
  -short-size: x 36px;

  @media screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
  }

  &--line {
    background: $burger-button-line-bgcolor;
    border-radius: 10px;
    transition-property: none;
    transform-origin: left center;
    transition: .4s;
    -short-size: 36px 4px;

    &:nth-child(1) {
      .header.is-menu-open & {
        transform: rotate(45deg);
      }
    }
    &:nth-child(2) {
      margin: 5px 0;

      .header.is-menu-open & {
        opacity: 0;
        margin: 8.5px 0;
      }
    }
    &:nth-child(3) {
      .header.is-menu-open & {
        transform: rotate(-45deg);
      }
    }
  }
}