
include ./nav/nav.pug
include ./singin-button/singin-button.pug

- let navigationItems = ['About', 'Features', 'Pricing', 'Testimonials', 'Help'];

mixin header()
  header.header(
    data-class="flex-between box-sizing site-content-center"
  )
    +base-logo()
    +nav(navigationItems)
    .header--sing-buttons
      +singin-button()
      +base-button-small('Sing Up')
