
.header {
  padding: {
    top: 45px;
    bottom: 45px;
  };
  position: relative;
  z-index: 9999;

  @media screen and (max-width: 767px) {
    padding: {
      top: 30px;
    };
  }

  &--logo {
    transition: .4s;
    
    .header.is-menu-open & {
      opacity: 0;
    }
  }
}

/** burger-button component */
@import './burger-button/burger-button.scss';

/** nav component */
@import './nav/nav.scss';

/** sing-buttons component */
@import './sing-buttons/sing-buttons.scss';