
include ./burger-button/burger-button.pug
include ./nav/nav.pug
include ./sing-buttons/sing-buttons.pug

mixin header()
  header#header.header(
    data-class="fbt bs scc"
  )
    +base-logo()(class="header--logo")
    +burger-button()(class="header--burger-button")
    +nav()(class="header--nav")
    +sing-buttons()(class="header--sing-buttons")
