
// - base components
include ./base/base-button-large/base-button-large.pug
include ./base/base-button-small/base-button-small.pug
include ./base/base-header-level-2/base-header-level-2.pug
include ./base/base-header-level-3/base-header-level-3.pug
include ./base/base-input/base-input.pug
include ./base/base-link/base-link.pug
include ./base/base-logo/base-logo.pug
include ./base/base-paragraph/base-paragraph.pug
include ./base/base-social-icon/base-social-icon.pug