
mixin link-list(linkList)
  .link-list(data-class="flex-column")
    +base-header-level-3(linkList.header)(class="link-list--header")
    each value in linkList.list
      +base-link('', value)(class="link-list--link")
    