
.nav {
  display: flex;

  @media screen and (max-width: 1024px) {
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -short-size: 50vw 100vh;
    -short-position: fixed 0 -50% x x;

    .header.is-menu-open & {
      animation: {
        name: nav-show;
        duration: .4s;
        delay: .4s;
        fill-mode: forwards;
      };
    }
  }

  &--item {
    margin: 0 20px;

    @media screen and (max-width: 1200px) {
      margin: 0 15px
    }
    @media screen and (max-width: 1024px) {
      margin: 20px 0;
    }
  }
}

@keyframes nav-show {
  to {
    opacity: 1;
    right: 0;
  }
}