
//- assets
-
  let navigationItems = [
    {
      href: '',
      value: 'About'
    },
    {
      href: '#features',
      value: 'Features'
    },
    {
      href: '#plans',
      value: 'Pricing'
    },
    {
      href: '#testimonials',
      value: 'Testimonials'
    },
    {
      href: '#footer',
      value: 'Help'
    }
  ];

//- component
mixin nav()
  nav#nav.nav(class=attributes.class, data-class="flex")
    each item in navigationItems
      +base-link(item.href, item.value)(class="nav--item")
