
.nav {
  display: flex;

  @media screen and (max-width: 1024px) {
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -short-size: 50vw 100vh;
    -short-position: fixed 0 -100% x x;

    .header.is-menu-open & {
      animation: nav-show .4s .3s forwards;
    }
    .header.is-menu-close & {
      animation: nav-hide .4s forwards;
    }
  }
  @media screen and (max-width: 767px) {
    -short-size: 100vw 50vh;
    top: 20vh;

    .header.is-menu-open & {
      animation: nav-show .4s .3s forwards;
    }
    .header.is-menu-close & {
      animation: nav-hide .4s forwards;
    }
  }

  &--item {
    margin: 0 20px;

    @media screen and (max-width: 1200px) {
      margin: 0 15px
    }
    @media screen and (max-width: 1024px) {
      font-size: 24px;
      margin: 20px 0;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}

@keyframes nav-show {
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes nav-hide {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -100%;
  }
}