
//- components
include ./plan-list-item/plan-list-item.pug

//- component
mixin plan(planItem)
  - let cost = planItem.cost ? `$${planItem.cost} <span>/ mo</span>` : 'Free';

  .plan(data-class="mr mb bs fbt")
    .plan--description(data-class="fcl")
      .plan--image
      .plan--content
        +base-header-level-3(planItem.header)(class="plan--header")
        .plan--list
          each item in planItem.list
            +plan-list-item(item)
    .plan--choise(data-class="fcl")
      .plan--cost(data-class="fm")
        = planItem.cost ? `$${planItem.cost} ` : 'Free'
        if planItem.cost
          span / mo
      +base-button-small('Select')(class="plan--button")
