
- let sponsors = ['netflix', 'reddit', 'amazon', 'discord', 'spotify'];

mixin sponsors-section()
  +base-section-container('sponsors-section')
    .sponsors-section--container(data-class="fa")
      each sponsor in sponsors
        - let sponsorImage = `assets/images/${sponsor}.png`;
        img.sponsors-section--image(src=sponsorImage)
      
    
