
//- assets
- let socialIcons = ['facebook', 'twitter', 'instagram'];
-
  let linkLists = [
    {
      header: 'Product',
      list: [
        'Download',
        'Pricing',
        'Locations',
        'Server',
        'Countries',
        'Blog'
      ]
    },
    {
      header: 'Engage',
      list: [
        'LaslesVPN ?',
        'FAQ',
        'Tutorials',
        'About Us',
        'Privacy Policy',
        'Terms of Service'
      ]
    },
    {
      header: 'Earn Money',
      list: [
        'Affiliate',
        'Become Partner'
      ]
    }
  ];

//- components
include ./link-list/link-list.pug

//- component
mixin footer()
  footer#footer.footer
    .footer--container(data-class="box-sizing site-content-center flex-between")
      .footer--info
        +base-logo()(class="footer--logo")
        .footer--text.
          <span data-class="font-medium">LaslesVPN</span> is a private virtual network that has unique features and has high security.
        .footer--social(data-class="flex-between")
          each icon in socialIcons
            +base-social-icon(icon)
        +base-copyright()
      .footer--link-lists(data-class="flex")
        each list in linkLists
          +link-list(list)
        
