
.preview-section {
  padding: {
    top: 70px;
    bottom: 230px;
  };
  position: relative;

  &--header {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .base-paragraph {
    margin-bottom: 50px;
  }
  &--illustration {
    background: {
      image: url('assets/images/header-man.png');
      size: cover;
    };
    z-index: -1;
    -short-size: 611px 382px;
    -short-position: absolute 43.5px -67px x x;

    @media screen and (max-width: 1440px) {
      right: 67px;
    }
  }

  &--header, .base-paragraph {
    width: 555px;
  }
}