
//- assets
-
  let inputs = {
    email: {
      type: 'email', placeholder: 'E-mail address'
    },
    password: {
      type: 'password', placeholder: 'Password'
    }
  }

//- components
include ./components/components.pug

//- document
doctype html
html(lang="en")
  head
    title LaslesVPN
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    //- loader
    +loader()
    //- main
    #site.site(data-class="w100")
      +header()
      +preview-section()
      +numbers-section()
      +features-section()
      .line-gradient(data-class="w100")
        +plans-section()
        +map-section()
      +sponsors-section()
      +testimonials-section()
        +subscribe-section()
      +footer()
    //- popup
    +popup()
    //- sing-frame
    +sing-frame(inputs)
    //- reusable-components
    #reusable-components.reusable-components
      +menu-bg()
      +subscribe(inputs)