
.sing-frame {
  display: none;
  z-index: 9999;
  -short-position: fixed 0 x x 0;

  &.is-sing-in, &.is-sing-up {
    display: block;
  }

  &--illustration, &--frame {
    height: 100%;
    -short-position: absolute 0 x x x;
  }
  &--illustration {
    background-size: cover;
    left: 0;
    width: 60%;
    transition: .4s;

    .sing-frame.is-sing-in & {
      left: 40%;
    }
  }
  &--frame {
    background: #fff;
    left: 50%;
    width: 50%;
    transition: .4s;

    .sing-frame.is-sing-in & {
      left: 0;
    }
  }
  &--logo, &--copyright {
    position: absolute;
  }
  &--logo {
    top: 29px;
    left: 35px;
  }
  &--close-button {
    top: 35px;
    right: 35px;
  }
  &--copyright {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}