
//- components
include ./sing-form/sing-form.pug

//- component
mixin sing-frame(inputs)
  #sing-frame.sing-frame(data-class="full")
    .sing-frame--illustration(data-class="full")
    .sing-frame--frame(data-class="fc")
      +sing-form(inputs)
      +base-logo()(class="sing-frame--logo")
      +base-close-button()(class="sing-frame--close-button")
      +base-copyright()(class="sing-frame--copyright")