
$sing-frame-bgcolor: rgba($main-header-color, 0.5);

.sing-frame {
  background: $sing-frame-bgcolor;
  display: none;
  z-index: 9999;
  -short-position: fixed 0 x x 0;

  &.is-sing-in, &.is-sing-up {
    display: block;
  }

  &--illustration, &--frame {
    -short-position: absolute 0 x x x;
  }
  &--illustration {
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    transition: .4s;

    .sing-frame.is-sing-in & {
      @media screen and (min-width: 1025px) {
        background-image: url('/assets/images/singin-bg.png');
      }
    }
    .sing-frame.is-sing-up & {
      @media screen and (min-width: 1025px) {
        background-image: url('/assets/images/singup-bg.png');
      }
    }
  }
  &--frame {
    background: #fff;
    left: 50%;
    transition: .4s;
    -short-size: 50% 100%;

    .sing-frame.is-sing-in & {
      left: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      left: 0;
    }
  }
  &--logo, &--copyright {
    position: absolute;

    @media screen and (max-width: 359px) {
      display: none;
    }
  }
  &--logo {
    top: 29px;
    left: 35px;
  }
  &--close-button {
    top: 35px;
    right: 35px;
  }
  &--copyright {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/** sing-form component */
@import './sing-form/sing-form.scss';