
mixin sing-buttons()
  .sing-buttons(class=attributes.class)
    +base-header-level-3('OR')(class="sing-buttons--header")
    .sing-buttons--container(data-class="f")
      .sing-buttons--singin(
        data-class="fc click fm",
        data-button="sing-in"
      ) Sing In
      +base-button-small('Sing Up', 'sing-up')
