
$singin-button-color: $main-header-color;

.sing-buttons {
  @media screen and (max-width: 1024px) {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -short-position: fixed 0 x x -100%;
    -short-size: 60vw 100vh;

    .header.is-menu-open & {
      animation: sing-buttons-show .4s forwards;
    }
    .header.is-menu-close & {
      animation: sing-buttons-hide .4s forwards;
    }
  }
  @media screen and (max-width: 767px) {
    -short-size: 100vw 25vh;
    top: 70vh;

    .header.is-menu-open & {
      animation: sing-buttons-show .4s .3s forwards;
    }
    .header.is-menu-close & {
      animation: sing-buttons-hide .4s forwards;
    }
  }

  .subscribe, &--header {
    margin-bottom: 40px;
  }

  &--header {
    display: none;

    @media screen and (max-width: 1024px) and (min-width: 767px) {
      display: block;
    }
  }
  &--singin {
    color: $singin-button-color;
    font-size: 16px;
    margin-right: 20px;
    -short-size: 70px 45px;
  }
}

@keyframes sing-buttons-show {
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes sing-buttons-hide {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -100%;
  }
}