
mixin base-button-large(value)
  .base-button-large(
    class=attributes.class,
    data-class="main-radius flex-center click"
  )= value
    .base-button-large--shadow(data-class="main-radius button-shadow")