
mixin subscribe-section()
  .subscribe-section(data-class="w100 box-sizing main-radius flex-between box-shadow pos-left-centert")
    .subscribe-section--content
      +base-header-level-2('Subscribe Now for Get Special Features!')(class="subscribe-section--header")
      +base-paragraph('Let\'s subscribe with us and find the fun.')(class="subscribe-section--paragraph")
    +base-button-large('Subscribe Now')(class="subscribe-section--button")
